* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}
.primary-btn {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 16px 40px;
  border-radius: 8px;
  background-color: #e55473;
  border: 2px solid #e55473;
}
.primary-btn:hover {
    background-color: #c92a4d;
  }
/* Header section design started */
.header-section {
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.header-section img {
  width: 485px;
}
.header-text {
  width: 500px;
}
.header-text-title {
  color: #272727;
  font-size: 60px;
  margin-bottom: 32px;
}
.header-text-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 32px;
}


/* Header section design finished*/

/* Featured flower started */
.featured-flower-part {
  padding-top: 150px;
  text-align: center;
  margin-bottom: 120px;
}
.featured-title {
  color: #272727;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 22px;
}
.featured-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 17px;
  line-height: 30px;
  width: 590px;
  margin: 0 auto;
}
.featured-flower-container {
  margin-top: 48px;
  display: flex;
  justify-content: center;

  gap: 24px;
  padding-bottom: 30px;
}
.featured-flower-1,
.featured-flower-2,
.featured-flower-3 {
  border-radius: 300px 300px 0px 0px;
  position: relative;
}
.featured-flower-container .item img {
  width: 200px;
}
.featured-flower-container .image-no-1{
 position: relative;
 bottom: -3px;
}
.featured-flower-container .image-no-3{
  position: relative;
  bottom: -13px;
}
.featured-flower-1 {
  padding: 88px 67.3px 0px 64.8px;
  background: rgba(167, 33, 98, 0.15);
}
.featured-flower-2 {
  padding: 105.5px 67px 55px 67px;
  background-color: rgba(5, 151, 160, 0.15);
}
.featured-flower-3 {
  padding: 54px 68px 0px 68px;
  background: rgba(71, 125, 17, 0.15);
}
.featured-flower-name {
  position: absolute;
  bottom: -30px;
  width: 330px;
  text-align: center;
  right: 0px;
  text-decoration: underline;
}
/* Featured flower finished */

/* Service style started */

.service {
  width: 1055px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
  align-items: center;
  gap: 70px;
}
.service-1 {
  padding: 86px 0px 86px 0px;
}
.service-1 img {
  display: block;
  margin: 0 auto;
}
.service-tag {
  margin-top: 10px;
  color: rgba(39, 39, 39, 0.8);
}
/* Service style finished */
/* Deal section started */
.deal {
  width: 100%;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:550px;
  gap: 110px;
}
.deal-text{
    width: 495px;
}

.deal-title {
  color: #272727;
  font-size: 32px;
  font-weight: 1000;
  text-align: center;
  margin-bottom: 20px;

}
.deal-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 15px;
line-height: 20px;
margin-bottom: 28px;

}
.deal-btn{
    margin: 0 auto;
    display: block;
}

/* Deal section finished */

/* Instragram section started */

.instragram-section{
    margin-top: 120px;
    margin-bottom: 120px;
}
.instragram-title{
    color: #272727;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 22px;
}
.instragram-description{

    color: rgba(39, 39, 39, 0.6);
    font-size: 17px;
    line-height: 30px;
    width: 590px;
   text-align: center;
   margin: 0 auto;
   margin-bottom: 45px;
}
.instragram-gallary{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.instragram-gallary img{
    width: 250px;
}
/* Instragram section finished */

/* Latest section started */
  .latest-deal-section{
    width:1055px ;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-image: url(image/Rectangle\ 9.png);
    margin-bottom: 30px;
    height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .latest-titel{
    color: #272727;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 22px;
  }
  .latest-description{
    color: rgba(39, 39, 39, 0.6);
    font-size: 17px;
    line-height: 30px;
    width: 590px;
   text-align: center;
   margin: 0 auto;
   margin-bottom: 45px;
  }
  .latest-deal-section input{
    width: 525px;
    height: 58px;
    padding: 20px;
    margin-right: 40px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
  }

/* Latest section finished */
/* Customer review section started */

.review-section{
  margin-top: 120px;
  margin-bottom: 120px;
  text-align: center;
}
.review-title{
  color: #272727;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 22px;
}
.review-description{
  
  color: rgba(39, 39, 39, 0.6);
  font-size: 17px;
  line-height: 30px;
  width: 590px;
 text-align: center;
 margin: 0 auto;
 margin-bottom: 45px;
}
.customer-review-container{
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.customer-review{
  height: 290px;
  width: 290px;
  background-color: #EBDFED;
  padding: 30px;
  /* border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px; */
  border-radius: 50%;
  border: 5px solid #c92a4d;
  
}
.review{
  font-family: sans-serif;
  font-weight: 600;
  font-size: 13px;
  margin-top: 10px;
}
/* Customer review section finished */
